<form #formularz="ngForm">
  <label>
    <p class="textnag">Imie i nazwisko:</p>
    <input type="text" [(ngModel)]="imie_nazwisko" name="imie_nazwisko"  required #imie_nazwiskoForm="ngModel">
    <div *ngIf="imie_nazwiskoForm.invalid && imie_nazwiskoForm.touched">
      Imię i nazwisko jest puste.
    </div>
  </label>
  <label>
    <p class="textnag">Status zawody:</p>
    <input type="radio" value="uczeń" [(ngModel)]="radio" name="status" required>uczeń <br>
    <input type="radio" value="pracuj" [(ngModel)]="radio" name="status" required>pracujący <br>
    <input type="radio" value="bezrobotny" [(ngModel)]="radio" name="status" required>bezrobotny <br>
    <input type="radio" value="na_recie" [(ngModel)]="radio" name="status" required>na rece emerytalnej
  </label><br><br>
  <label >
    <input type="button" (click)="wypisaniedokonsoli()" value="tak">
  </label>
</form>